In [4]:
import numpy as np

In [5]:
import pandas as pd

In [33]:
dataset = 1000
response_id = np.random.randint(1, 1000, dataset)

In [34]:
df = pd.DataFrame({"Response ID":response_id})
df.head()

   Response ID
0          927
1          252
2          356
3          799
4           13

In [25]:
df['Type'] = np.random.choice(["Tobacco","e-Cigarettes"], size=dataset, p=[.695,.305])
df['Gender'] = np.random.choice(["Male","Female", "Other"], size=dataset, p=[.45,.45,.1])
df['Residence'] = np.random.choice(["City","Town", "Rural"], size=dataset, p=[.37,.42,.21])

df.head()

   Response ID     Type  Gender Residence
0          927  Tobacco    Male     Rural
1          252  Tobacco    Male      City
2          356  Tobacco    Male      Town
3          799  Tobacco    Male     Rural
4           13  Tobacco  Female      City

In [26]:
df['Year'] = np.random.choice(["2022","2019"], size=dataset)

df.head()

   Response ID     Type  Gender Residence  Year
0          927  Tobacco    Male     Rural  2019
1          252  Tobacco    Male      City  2022
2          356  Tobacco    Male      Town  2022
3          799  Tobacco    Male     Rural  2019
4           13  Tobacco  Female      City  2019

In [41]:
df['Frequency'] = np.random.randint(1,10 , dataset)
df['Age'] = np.random.randint(18,70 , dataset)
df.head()

   Response ID     Type  Gender Residence  Year  Frequency  Age
0          927  Tobacco    Male     Rural  2019          2   25
1          252  Tobacco    Male      City  2022          9   25
2          356  Tobacco    Male      Town  2022          2   35
3          799  Tobacco    Male     Rural  2019          2   23
4           13  Tobacco  Female      City  2019          6   65

In [232]:
cost = []
for row in df['Frequency']:
        if row < 2 :    cost.append(float(np.random.uniform(10,20,1)))
        elif row < 4  : cost.append(float(np.random.uniform(21,40,1)))
        elif row < 6 :  cost.append(float(np.random.uniform(41,60,1)))
        elif row < 8 :  cost.append(float(np.random.uniform(61,80,1)))        
        else:           cost.append(float(np.random.uniform(81,110,1)))

In [233]:
df['Cost'] = cost

In [234]:
df.head()

,Response ID,Type,Gender,Residence,Year,Frequency,Age,Cost
0,156,Tobacco,Female,City,2021,9,31,105.552230
1,874,Tobacco,Female,City,2021,5,64,54.950457
2,60,Tobacco,Other,Town,2021,3,36,33.296529
3,480,Tobacco,Female,City,2021,3,20,39.627105
4,403,e-Cigarettes,Female,City,2021,8,36,90.581689

In [441]:
df.loc[df['Frequency'] <= 5, 'Salary'] = df['Frequency']*df['Age']*100 
df.loc[df['Frequency'] > 5, 'Salary'] = df['Frequency']*df['Age']*100 + df['Cost']*15
df.head()

,Response ID,Type,Gender,Residence,Year,Frequency,Age,Cost,Salary
0,898,Tobacco,Other,Rural,2022,9,49,94.315922,45514.738825
1,862,e-Cigarettes,Female,City,2022,9,60,88.990214,55334.853216
2,790,Tobacco,Female,City,2021,3,58,29.899429,17400.000000
3,431,Tobacco,Male,Rural,2022,6,66,70.266629,40653.999436
4,65,Tobacco,Female,Town,2022,4,20,42.080671,8000.000000

In [442]:
df['Cost']= df['Cost'].apply(lambda x:round(x,2))
df['Salary']= df['Salary'].apply(lambda x:round(x,2))
df.head()

,Response ID,Type,Gender,Residence,Year,Frequency,Age,Cost,Salary
0,898,Tobacco,Other,Rural,2022,9,49,94.32,45514.74
1,862,e-Cigarettes,Female,City,2022,9,60,88.99,55334.85
2,790,Tobacco,Female,City,2021,3,58,29.90,17400.00
3,431,Tobacco,Male,Rural,2022,6,66,70.27,40654.00
4,65,Tobacco,Female,Town,2022,4,20,42.08,8000.00

In [443]:
print(df.dtypes)

Response ID      int32
Type            object
Gender          object
Residence       object
Year            object
Frequency        int32
Age              int32
Cost           float64
Salary         float64
dtype: object

In [444]:
df['Cost'] =np.float32(df['Cost'])
df['Salary'] = np.float32(df['Salary'])